@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  font-family: "Bellefair", serif;
  font-family: "Antic Didone", serif;
  font-family: "Pompiere", cursive;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

